<div class='input-field'>
  <i class="material-icons prefix grey-text text-darken-1">lock_outline</i>
  <input class='validate grey-text text-darken-4' type='password' name='password_confirm' id='password_confirm' value='<%= value %>' required <%= disabled %> />
  <label for='password_confirm'>Подтвердите пароль</label>
</div>