<div class='input-field'>
  <i class="material-icons prefix grey-text text-darken-1">mail_outline</i>
  <input class='validate grey-text text-darken-4' type='email' name='email' id='email' value='<%= value %>' required <%= disabled %> />
  <label for='email'>Email</label>
</div>