<div class='input-field'>
  <i class="material-icons prefix grey-text text-darken-1">devices</i>
  <input class='validate grey-text text-darken-4' type="text" name='username' id='username' value='<%= value %>' required <%= disabled %> />
  <label for='username'>Логин</label>
</div>