<div class='input-field'>
  <i class="material-icons prefix grey-text text-darken-1">event_available</i>
  <input class='validate grey-text text-darken-4' type="text" name='created' id='created' value='<%= value %>' required <%= disabled %> />
  <label for='created'>Дата регистрации</label>
</div>