<!-- Меню пользователя. Появляется в заголовке или боковом меню -->
<% if (!user) { %>
<li><a href="/view/user/login" class="grey-text text-darken-3">Войти</a></li>
<% } else { %>
<%- include('../user/avatar', { user: user }) %>
<% } %>