<% if (ref) { %>
<a href="/view/user/<%= ref %>">
  <div class="chip grey lighten-1"><%= user.username %></div>
</a>
<% } else { %>
<div class="chip grey lighten-1"><%= user.username %></div>
<% }  %>