<div class='input-field'>
  <i class="material-icons prefix grey-text text-darken-1">perm_identity</i>
  <input class='validate grey-text text-darken-4' type="text" name='fullname' id='fullname' value='<%= value %>' required <%= disabled %> />
  <label for='fullname'>Имя пользователя</label>
</div>