<% if (!user) { %>
<h2>Для продолжения необходимо <a href="/login">авторизоваться</a></h2>
<% } else { %>
<h3>Доступ разрешен, вас зовут <a href="/profile"><%= user.name.familyName %></a></h3>
<% } %>