<div class="collection z-depth-1">
  <div class="collection-item grey lighten-3">
    <span>
      <%- include('../components/avatar', { user: comment.user, ref: 'profile/' + comment.user.username }) %>
      <span class="title grey-text text-darken-1">
        <%= comment.user.fullname %>
      </span>
      <span class="title grey-text text-lighten-1">
        <%= new Date(comment.created).toLocaleString() %>
      </span>
    </span>
    <p class="title grey-text text-darken-4"><%= comment.text %></p>
  </div>
</div>