<%- include('../port/layout-start', { title: title, user: user, count: count }) %>

<div class="card grey lighten-5">
  <div class="card-content">
    <span class="card-title">
      <%= title %>

      <div class="right">
        <a href="/view/book/create">
          <button class="btn waves-effect waves-light">Добавить<i class="material-icons right">add</i></button>
        </a>
      </div>
    </span>
    <br>

    <% if (!count) { %>

    <h6 class="grey-text">Книг пока нет</h6>

    <% } else { %>

    <% books.forEach((book)=> { %>

    <%- include('./book', { book: book }) %>

    <% }) %>
    <% } %>

  </div>
</div>

<%- include('../port/layout-end', { toast, commentsParent: '' }) %>