<%- include('../port/layout-start', { title: title, books: books }) %>

  <div class="row grey-text text-darken-2">
    <h3>
      <%= title %>
    </h3>
  </div>

  <%- include('../book/form', { book: book, action: 'create' }) %>

    <%- include('../port/layout-end') %>