<!-- Список пунктов меню. Появляется в заголовке или боковом меню -->
<li><a href="/view" class="grey-text text-darken-3">Главная</a></li>

<% if (user) { %>
<li>
  <a href="/view/book" class="grey-text text-darken-3">
    Книги
    <% if (count) { %>
    <span class="new badge" data-badge-caption="">
      <%= count %>
    </span>
    <% } %>
  </a>
</li>
<% } %>