<div class="navbar-fixed">
  <nav class="grey lighten-2">
    <div class="container">
      <div class="nav-wrapper">

        <!-- Кнопка меню для маленьких экранов -->
        <a href="#" data-target="menu-items" class="sidenav-trigger grey-text text-darken-3"><i class="material-icons">menu</i></a>

        <!-- Левое меню с основными функциями -->
        <ul class="left hide-on-med-and-down"><%- include('header-menu-items', { user: user }) %></ul>

        <!-- Заголовок по центру -->
        <a href="/view/book" class="brand-logo center grey-text text-darken-3">
          <i class="material-icons grey-text text-darken-3">import_contacts</i>Библиотека
        </a>

        <!-- Меню пользователя справа -->
        <ul class="right"><%- include('header-menu-user', { user: user }) %></ul>

      </div>
    </div>
  </nav>
</div>

<!-- Боковое меню по бутерброду -->
<ul class="sidenav" id="menu-items">

  <!-- Заголовок в шапке: инфо по пользователю -->
  <% if (user) { %>
  <%- include('../user/preview', { user: user }) %>
  <% } %>

  <!-- меню из основного приложения  -->
  <%- include('header-menu-items', { user: user }) %>
</ul>